<% cookie_name = defined?(key) ? key : "_immosquare_consented" %>
<% duration_months = 6 unless defined?(duration_months) %>

<%= content_tag(:div, :id => "immosquare-cookies-container", :data => {:name =>  cookie_name}) do %>
  <div class="immosquare-cookies-banner">
    <div class="immosquare-cookies-card">
      <%# Header %>
      <%= content_tag(:div, t("immosquare-cookies.document_title", :site_name => defined?(site_name) ? site_name : request.host), :class => "immosquare-cookies-header") %>

      <%# Content %>
      <div class="immosquare-cookies-content">
        <div class="immosquare-cookies-text">
          <%= content_tag(:div, (defined?(text).present? ? text : t("immosquare-cookies.text")).html_safe) %>
          <% if defined?(link) %>
            <%# Backward compatibility with the :link parameter %>
            <%= content_tag(:span, defined?(link_text) ? link_text : t("immosquare-cookies.link_text"), :class => "immosquare-cookies-link-text") %>
            <%= link_to(defined?(document_name) ? document_name : t("immosquare-cookies.document_name"), link, :target => defined?(target) ? target : "_blank", :class => "immosquare-cookies-link") %>

          <% elsif defined?(privacy_policy_link) || defined?(cookie_policy_link) %>
            <%# New parameters for the two separated links %>
            <%= content_tag(:span, defined?(link_text) ? link_text : t("immosquare-cookies.link_text"), :class => "immosquare-cookies-link-text") %>
            <%= link_to(defined?(privacy_policy) ? privacy_policy : t("immosquare-cookies.privacy_policy"), privacy_policy_link, :target => defined?(target) ? target : "_blank", :class => "immosquare-cookies-link") if defined?(privacy_policy_link) %>
            <%= link_to(defined?(cookie_policy) ? cookie_policy : t("immosquare-cookies.cookie_policy"), cookie_policy_link,     :target => defined?(target) ? target : "_blank", :class => "immosquare-cookies-link") if defined?(cookie_policy_link) %>
          <% end %>
        </div>
      </div>

      <%# Actions %>
      <div class="immosquare-cookies-actions">
        <%= content_tag(:button, defined?(refuse) ? refuse : t("immosquare-cookies.refuse"), :type => "button", :id => "immosquare-cookies-refuse", :class => "immosquare-cookies-btn") %>
        <%= content_tag(:button, defined?(accept) ? accept : t("immosquare-cookies.accept"), :type => "button", :id => "immosquare-cookies-accept", :class => "immosquare-cookies-btn") %>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const cookieContainer = document.getElementById("immosquare-cookies-container");
    const cookieName = cookieContainer.dataset.name;
    const cookieDurationMonths = <%= duration_months %>;
    const handleCookieConsent = (consentGiven) => {
        cookieContainer.style.display = "none";
        const date = new Date();
        date.setTime(date.getTime() + (cookieDurationMonths * 30 * 24 * 60 * 60 * 1000));
        const expires = `;expires=${date.toUTCString()}`;
        if(!consentGiven){
          document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        }
        document.cookie = `${cookieName}=${consentGiven}${expires}; path=/`;
        if(!consentGiven){
          window.location.reload();
        }
    };
    document.getElementById("immosquare-cookies-refuse").addEventListener("click", function() { handleCookieConsent(false); });
    document.getElementById("immosquare-cookies-accept").addEventListener("click", function() { handleCookieConsent(true); });
    });
  </script>
<% end if cookies && cookies[cookie_name].blank? %>
