<% cookie_name = defined?(key) ? key : "_immosquare_consented" %>

<%# DIV %>
<%= content_tag(:div, :id => "immosquare-cookies-container", :data => {:name =>  cookie_name} ) do %>
  <section>
    <%# Title %>
    <%= content_tag(:div, defined?(document_name) ? document_name : t("immosquare-cookies.document_name"), :id => "immosquare-cookies-title") %>

    <%# Refuse/Accept %>
    <div id="immosquare-cookies-actions">
      <%= content_tag(:div, defined?(refuse) ? refuse : t("immosquare-cookies.refuse"), :id => "immosquare-cookies-refuse")  %>
      <%= content_tag(:div, defined?(accept) ? accept : t("immosquare-cookies.accept"), :id => "immosquare-cookies-accept")  %>
    </div>

    <%# Content %>
    <div>
      <%= content_tag(:span,  defined?(text).present? ? text : t("immosquare-cookies.text")) %>
      <% if defined?(link) %>
        <%= content_tag(:span, defined?(link_text) ? link_text : t("immosquare-cookies.link_text"), :style => "margin-right:4px;") %>
        <%= link_to( defined?(document_name) ? document_name : t("immosquare-cookies.document_name"), link, :target => defined?(target) ? target : "_blank")   %>
      <% end %>
    </div>
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const cookieContainer = document.getElementById("immosquare-cookies-container");
    const cookieName = cookieContainer.dataset.name;
    const handleCookieConsent = (consentGiven) => {
        cookieContainer.style.display = "none";
        const date = new Date();
        date.setTime(date.getTime() + (365 * 10 * 24 * 60 * 60 * 1000));
        const expires = `;expires=${date.toUTCString()}`;
        if(!consentGiven){
          document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        }
        document.cookie = `${cookieName}=${consentGiven}${expires}; path=/`;
        if(!consentGiven){
          window.location.reload();
        }
    };
    document.getElementById("immosquare-cookies-refuse").addEventListener("click", function() { handleCookieConsent(false); });
    document.getElementById("immosquare-cookies-accept").addEventListener("click", function() { handleCookieConsent(true); });
    });
  </script>
<% end if cookies && cookies[cookie_name].blank? %>
